#reset-this-root {
    all: unset;
    all: initial;
}

html{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

body {
    background-color: #F8F9FA !important;
    width: 100%;
    height: 100%;
    background-image: url(../images/LousaDark.png);
    background-size: cover;
    background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	margin: -20px 0 50px;
}

.navbar-dark .bg-dark {
    background-color: black !important;
}

.tabela {
    flex: none;
    margin-left: 22%;
    margin-top: 13%;
}
  
.tabela:last-child {
    margin-right: 0%; 
}

table {
    position: absolute;
    max-width: 750px;
    height: 350px;
    border: 5.5px solid black;
    border-spacing: 0rem;
    border-collapse: collapse;
    border-radius: 500px;
    background-color: #fff;
} 

table thead{
    background-color: black;
}

table tbody{
    background-color: #fff;
}

table thead tr th{
    color: #fff;
    padding: 7px 5px;
    text-align: center;
    font-size: 20px;
    border: 0 solid rgb(0, 0, 0);
    border-bottom-width: 1px;
    border-right-width: 1px;
    width: 105px !important;
}

table thead tr th:last-child{
    border-right-width: 0px;
}

table tbody tr td{
    text-align: center;
    border: 0 solid rgb(0, 0, 0); 
    border-bottom-width: 1px;
    border-right-width: 1px;
    width: 115px !important;
}

.btn-adicionar {
    background-color: #0c4d0c;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .btn-adicionar i {
    margin-right: 2px;
  }

  .nav-link{
    cursor: pointer;
    color: #fff !important;
  }

  .nav-link:hover{
    color: rgba(255, 255, 255, 0.75) !important;
  }