<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/home.css">
  <script src="./css/home.css"></script>
  <title>AutoNotas</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/}">AutoNotas</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" th:href="@{/quemSomos}">Quem somos</a>
			</li>
		  </ul>
		  <form class="form-inline">
				<button style="margin-right: 15px;" class="btn btn-outline-light" type="button">
					<a class="navbar-brand" th:href="@{/cadastro}">Cadastro</a>
				</button>
				<button class="btn btn-outline-light" type="button">
					<a class="navbar-brand" th:href="@{/login}">Login</a>
				</button>
			</label>
		  </form>
		</div>
	  </nav>


</body>
</html>
