
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spring Boot - Index</title>
</head>
<body>
<h1>Pagina Aluno</h1>
<p>A disciplina é: <span th:text="${dbFields.obterDisciplina(1)}"></span></p>
<p>A instituicao é: <span th:text="${dbFields.obterInstituicao(1)}"></span></p>
<p>O RA é: <span th:text="${dbFields.obterRa(1)}"></span></p>
<p>O nome é: <span th:text="${dbFields.obterNome(1)}"></span></p>
<p>O resultado da p1 é: <span th:text="${dbFields.obterP1(1)}"></span></p>
<p>O resultado da p2 é: <span th:text="${dbFields.obterP2(1)}"></span></p>
<p>O resultado da ATV é: <span th:text="${dbFields.obterATV(1)}"></span></p>
<p>A Media é: <span th:text="${dbFields.obterMedia(1)}"></span></p>

</body>
</html>
