<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quem Somos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/main/resources/templates/css/quemsomos.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">AutoNotas</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/src/main/resources/templates/quemsomos.html">Quem somos</a>
			</li>
		  </ul>
		  <form class="form-inline">
				<button style="margin-right: 15px;" class="btn btn-outline-light" type="button">Cadastro</button>
				<button class="btn btn-outline-light" type="button">Login</button>
			</label>
		  </form>
		</div>
	  </nav>
    <!--fim nav-->

    <section class="fundo">
        <div class="texto">
            <h2 class="titulo">AutoNotas</h2>
            <p>Atualmente com



            </p>
        </div>
        <div class="imgh">
            <img src="">
        </div>
    </section>
    <!--Fim section-->

    <h1 id="caixas" class="titulo">Aproveite o melhor da plataforma!</h1>
    <section class="balao">
        <div class="container">
            <div class="card">
                <div class="img">
                    <img src="./images/Organizacao.png">
                </div><br>
                <h1>Organização</h1>
                <div class="content">
                    <p style="color: white;">Escrever</p>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="./images/Praticidade.png">
                </div>
                <h1>Praticidade</h1>
                <div class="content">
                    <p style="color: white;">Escrever</p>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="./images/Feedback.png">
                </div>
                <h1>Feedbacks</h1>
                <div class="content">
                    <p style="color: white;">Escrever</p>
                </div>
            </div>
        </div>
    </section>
    <!-- <img src="includes/telaPrincipal/img/test.png" class="imgtest" alt="graficos"> -->

    <!--inicio fotter-->
    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <!--  footer col -->
                <div class="footer-col">
                    <h4>Quem somos?</h4>
                    <p id="rodape"> Precisa Escrever
                    </p>
                </div>
                <div class="footer-col">
                    <h4>Criadores</h4>
                    <div style="color:white; text-align:justify;">
                        <p>Felipe Soares<br></p>
                        <p>Lucas Chaves<br></p>
                        <p>Lucas Oliveira<br></p>
                        <p>Luis Felipe<br></p>
                    </div>
                </div>
                <div class="footer-col">
                    <h4>Contatos</h4>
                    <p class="icone">
                        <a href=""><i class="fa fa-facebook"></i></a>Facebook<br>
                        <a href=""><i class="fa fa-instagram"></i></a>Instagram<br>
                        <a><i class="fa fa-phone"></i></a>(11)00000-0000<br>
                    </p>
                </div>
                <div class="footer-col">
                    <h4>Dúvida</h4>
                    <div class="form-sub">
                        <form>
                            <input type="email" placeholder="Digite o seu e-mail" required><br><br>
                            <textarea id="mensagem" name="mensagem" placeholder="Digite sua mensagem" rows="3" cols="40"></textarea><br>
                            <button class="btn btn-outline-light">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>